[package]
authors = ["madiele92@gmail.com"]
edition = "2021"
name = "vod2pod-rss"
version = "1.1.0"

[lib]
path = "src/lib.rs"

[[bin]]
name = "app"
path = "src/main.rs"

[dependencies]
actix-rt = "=2.9.0"
google-youtube3 = "=5.0.3"
actix-web = "=4.4.0"
async-trait = "=0.1.74"
url = { version="=2.4.1", features = ["serde"]}
futures = "=0.3.29"
log = "=0.4.20"
regex = "=1.10.2"
reqwest = { version = "=0.11.22", features = ["json"] }
serde = "=1.0.192"
serde_json = "=1.0.108"
tokio = { version = "=1.34.0", features = ["macros", "process"]}
uuid = { version= "=1.6.1", features = ["v4", "serde"]}
genawaiter = {version = "=0.99", features = ["futures03"] }
openssl = { version = "*", features = ["vendored"] } #this is here just to make cross-compiling work during github actions
rss = { version = "=2.0", features = ["serde"] }
eyre = "=0.6"
simple_logger = "=4.2"
redis = { version = "=0.23", features = ["tokio-comp"] }
mime = "=0.3.17"
cached = { version = "=0.46.1", features = ["redis_tokio"] }
iso8601-duration = "=0.2.0"
chrono = "=0.4.31"
feed-rs = "=1.3.0"

[dev-dependencies]
temp-env ={ version = "=0.3.6", features = ["async_closure"] }
env_logger = "*"
test-log = "0.2.11"
