[package]
authors = ["madiele92@gmail.com"]
edition = "2021"
name = "vod2pod-rss"
version = "1.1.2"

[lib]
path = "src/lib.rs"

[[bin]]
name = "app"
path = "src/main.rs"

[dependencies]
actix-rt = "=2.9.0"
google-youtube3 = "=5.0.3"
actix-web = "=4.5.1"
async-trait = "=0.1.77"
url = { version="=2.5.0", features = ["serde"]}
futures = "=0.3.30"
log = "=0.4.20"
regex = "=1.10.3"
reqwest = { version = "=0.11.24", features = ["json"] }
serde = "=1.0.197"
serde_json = "=1.0.114"
tokio = { version = "=1.36.0", features = ["macros", "process"]}
uuid = { version= "=1.7.0", features = ["v4", "serde"]}
genawaiter = {version = "=0.99", features = ["futures03"] }
openssl = { version = "*", features = ["vendored"] } #this is here just to make cross-compiling work during github actions
rss = { version = "=2.0", features = ["serde"] }
eyre = "=0.6"
simple_logger = "=4.3"
redis = { version = "=0.24", features = ["tokio-comp"] }
mime = "=0.3.17"
cached = { version = "=0.49.2", features = ["redis_tokio"] }
iso8601-duration = "=0.2.0"
chrono = "=0.4.34"
feed-rs = "=1.4.0"

[dev-dependencies]
temp-env ={ version = "=0.3.6", features = ["async_closure"] }
env_logger = "*"
test-log = "0.2.11"
