[package]
authors = ["madiele92@gmail.com"]
edition = "2021"
name = "vod_to_podcast_rss"
version = "0.3.3"

[lib]
path = "src/lib.rs"

[[bin]]
name = "app"
path = "src/main.rs"

[dependencies]
actix-rt = "2.8.0"
actix-web = "4.3.1"
async-trait = "0.1.68"
url = { version="*", features = ["serde"]}
futures = "0.3.28"
log = "0.4.17"
regex = "1.7.3"
reqwest = "0.11.16"
serde = "1.0.159"
serde_json = "1.0.95"
tokio = { version = "1.27.0" , features = ["macros", "process"]}
uuid = { version= "1.3.0", features = ["v4", "serde"]}
genawaiter = {version = "0.99", features = ["futures03"] }
rss = { version = "2.0", features = ["serde"] }
eyre = "0.6"
simple_logger = "4.1"
redis = { version = "0.22", features = ["tokio-comp"] }
feed-rs = "1.3.0"
md5 = "0.7.0"
mime = "0.3.17"
cached = { version = "0.42.0", features = ["redis_tokio"] }
