name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: install ffmpeg
      run: sudo apt-get install ffmpeg
    - name: install yt-dlp
      run: python3 -m pip install -U yt-dlp
    - name: Run tests
      run: cargo test --verbose
